@use '../../abstracts' as *;

@include editor-preview-component {
    blockquote {
        margin: 20px 0px;
        border-radius: 4px;
        padding: 0.5em 1em;
        background-color: var(--background-primary-alt);

        // Removed bullet points from lists inside blockqute
        // Useful when writing pseudocode
        li {
            list-style-type: none;
        }
        // Removes space from indents in blockcode
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}
