@use '../../abstracts' as *;

body {
  .markdown-preview-view,
  .markdown-source-view {
    code,
    pre {
      // color: $green !important;
      font-family: var(--font-monospace);
      background-color: var(--background-primary-alt);
      border-radius: 2.5px;
      padding: 10px 4px;
      font-size: 0.9em;
    }
    code:not([class]) {
      padding: 2.5px 4px;
      color: $green !important;
    }
  }
}

.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian
  span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
.markdown-preview-view code {
  color: $green;
}

.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-math,
.cm-s-obsidian span.hmd-fold-math-placeholder {
  font-weight: 600;
  font-style: normal;
}

.markdown-preview-view code {
  vertical-align: text-top;
  word-break: break-word;
}

// code[class*='language-'],
// pre[class*='language-'] {
//   text-align: left !important;
//   white-space: pre !important;
//   word-spacing: normal !important;
//   word-break: normal !important;
//   word-wrap: normal !important;
//   line-height: 1.5 !important;
//   -moz-tab-size: 4 !important;
//   -o-tab-size: 4 !important;
//   tab-size: 4 !important;
//   -webkit-hyphens: none !important;
//   -moz-hyphens: none !important;
//   -ms-hyphens: none !important;
//   hyphens: none !important;
// }

// /* Code blocks */
// pre[class*='language-'] {
//   padding: 1em !important;
//   margin: 0.5em 0 !important;
//   overflow: auto !important;
//   color: red !important;
// }

// /* Inline code */
// :not(pre) > code[class*='language-'] {
//   padding: 0.1em !important;
//   border-radius: 0.3em !important;
//   white-space: normal !important;
//   color: red !important;
// }
