@use '../../abstracts' as *;

@include editor-source-and-preview-component {
  code,
  pre {
    // color: $green !important;
    font-family: var(--font-monospace);
    background-color: var(--background-primary-alt);
    border-radius: 2.5px;
    // padding: 1em; // Was messing up the first line of code
    font-size: 0.95em;
    text-align: left !important;

    // white-space: pre !important; // Was messing with word wrapping
    word-spacing: normal !important;
    word-break: normal !important;
    word-wrap: normal !important;
    line-height: 1.5 !important;
    -moz-tab-size: 4 !important;
    -o-tab-size: 4 !important;
    tab-size: 4 !important;
    -webkit-hyphens: none !important;
    -moz-hyphens: none !important;
    -ms-hyphens: none !important;
    hyphens: none !important;
  }
  // Inline Code Only
  :not(pre) > code {
    padding: 0.1em 0.2em;
    white-space: normal;

    // Classles
    &:not([class]) {
      color: $green !important;
    }
  }
}

// In edit mode
.cm-s-obsidian {
  pre.HyperMD-codeblock,
  span.cm-inline-code,
  span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
  .markdown-preview-view code {
    color: $white;
  }

  span {
    .cm-inline-code,
    .cm-math,
    .hmd-fold-math-placeholder {
      font-style: normal;
      color: $green;
    }
  }
}

// Could turn out to be useful? Right know can't figure out usage.
// Inherited from Atom theme

// pre.line-numbers {
//   position: relative !important;
//   padding-left: 3.8em !important;
//   counter-reset: linenumber !important;
// }

// pre.line-numbers > code {
//   position: relative !important;
// }

// .line-numbers .line-numbers-rows {
//   position: absolute !important;
//   pointer-events: none !important;
//   top: 0 !important;
//   font-size: 100% !important;
//   left: -3.8em !important;
//   width: 3em !important; /* works for line-numbers below 1000 lines */
//   letter-spacing: -1px !important;
//   border-right: 0 !important;

//   -webkit-user-select: none !important;
//   -moz-user-select: none !important;
//   -ms-user-select: none !important;
//   user-select: none !important;
// }

// .line-numbers-rows > span {
//   pointer-events: none !important;
//   display: block !important;
//   counter-increment: linenumber !important;
// }

// .line-numbers-rows > span:before {
//   content: counter(linenumber) !important;
//   color: var(--syntax-gray-1) !important;
//   display: block !important;
//   padding-right: 0.8em !important;
//   text-align: right !important;
// }
