@use '../../abstracts' as *;

@include editor-preview-component {
  // Colors
  .green {
    color: $green-2 !important;
  }

  .yellow {
    color: $yellow-2 !important;
  }

  .red {
    color: $red !important;
  }
  .indianred {
    color: indianred !important;
  }

  // Time/Spatial Complexity
  code {
    &.constant {
      background-color: green !important;
      color: black;
    }
    &.linear {
      background-color: #fee227;
      color: black;
    }
    &.logarithmic {
      background-color: yellowgreen;
      color: black;
    }
    &.na {
      background-color: gray;
      color: black;
    }
    &.linear-logarithmic {
      background-color: orange;
      color: black;
    }
  }
}
