@use '../../abstracts' as *;
@use 'sass:color';

@include editor-preview-component {
  // Colors
  .green {
    color: $green-2 !important;
  }

  .yellow {
    color: $yellow-2 !important;
  }

  .red {
    color: $red !important;
  }
  .indianred {
    color: indianred !important;
  }

  // Time/Spatial Complexity
  code {
    & mjx-container {
      color: $black;
      font-size: 110%;
      mjx-math.MJXTEX {
        font-family: STIX !important;
      }
    }
    &.constant,
    &.linear,
    &.logarithmic,
    &.linearithmic,
    &.polynomial,
    &.exponential {
      color: $black;
    }

    &.constant {
      background-color: green;
    }
    &.linear {
      background-color: #fee227;
    }
    &.logarithmic {
      background-color: yellowgreen;
    }
    &.na {
      background-color: gray;
      color: $black;
    }
    &.linearithmic {
      background-color: orange;
    }
    &.polynomial {
      background-color: $red-3;
    }
    &.exponential {
      background-color: $red-6;
    }
  }
}
