@charset "UTF-8";
:root {
  --font-monospace: "Fira Code", "Source Code Pro", monospace;
}

body .markdown-source-view code,
body .markdown-source-view pre,
body .markdown-preview-view code,
body .markdown-preview-view pre {
  font-family: var(--font-monospace);
  background-color: var(--background-primary-alt);
  border-radius: 2.5px;
  padding: 1em;
  font-size: 0.9em;
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}
body .markdown-source-view code:not([class]),
body .markdown-preview-view code:not([class]) {
  padding: 0.1em 0.2em;
  color: #98c379 !important;
  white-space: normal;
}

.cm-s-obsidian pre.HyperMD-codeblock,
.cm-s-obsidian span.cm-inline-code,
.cm-s-obsidian span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
.cm-s-obsidian .markdown-preview-view code {
  color: #98c379;
}
.cm-s-obsidian span .cm-inline-code,
.cm-s-obsidian span .cm-math,
.cm-s-obsidian span .hmd-fold-math-placeholder {
  font-style: normal;
}

.cm-header-1,
.markdown-preview-view h1 {
  font-weight: 550;
  font-size: 2em;
  color: var(--text-title-h1);
}

.cm-header-2,
.markdown-preview-view h2 {
  font-weight: 500;
  font-size: 1.5em;
  color: var(--text-title-h2);
}

.cm-header-3,
.markdown-preview-view h3 {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-weight: 500;
  font-size: 1.2em;
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-weight: 500;
  font-size: 1em;
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--text-title-h6);
}

.markdown-preview-section:not(:first-child) h1,
.markdown-preview-section:not(:first-child) h2,
.markdown-preview-section:not(:first-child) h3,
.markdown-preview-section:not(:first-child) h4,
.markdown-preview-section:not(:first-child) h5,
.markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px !important;
}

a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.tag {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: var(--font-size-h6);
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}

.tag:hover {
  border: none;
  background-color: var(--text-accent-hover) !important;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  color: white;
  border-radius: 14px;
}

.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}

.tag[href^="#issue"] {
  background-color: indianred;
}

.tag[href^="#🌱"] {
  background-color: yellowgreen;
}

.tag[href^="#🌿"] {
  background-color: seagreen;
}

.tag[href^="#🌲"] {
  background-color: green;
}

.tag[href^="#📍"] {
  background-color: #cf352e;
}

.tag[href^="#🧍"] {
  background-color: #109474;
}

.tag[href^="#🍽"] {
  background-color: orange;
}

.tag[href^="#🛠"] {
  background-color: #63462d;
}

.tag[href^="#technical"] {
  background-color: var(--gray-1);
}

.tag[href^="#active"] {
  background-color: #6ba741;
}

.tag[href^="#inactive"] {
  background-color: indianred;
}

.tag[href^="#leetcode/easy"] {
  background-color: #6ba741;
}

.tag[href^="#leetcode/medium"] {
  background-color: var(--yellow);
}

.tag[href^="#leetcode/hard"] {
  background-color: var(--red);
}

body .markdown-preview-view blockquote {
  margin: 20px 0px;
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: var(--background-primary-alt);
}

body .markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}
body .markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}
body .markdown-preview-view .task-list-item-checkbox:checked::before {
  content: " ";
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
}

body .markdown-preview-view .markdown-embed,
body .markdown-preview-view .file-embed {
  margin: 0;
  border-radius: 4px;
  background-color: var(--background-primary-alt);
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #5c6370 !important;
}
.token.punctuation {
  color: #abb2bf !important;
}
.token.selector, .token.tag {
  color: #e75153 !important;
}
.token.property, .token.boolean, .token.number, .token.constant, .token.symbol, .token.attr-name, .token.deleted {
  color: #f77f45 !important;
}
.token.string, .token.char, .token.attr-value, .token.builtin, .token.inserted {
  color: #98c379 !important;
}
.token.operator, .token.entity, .token.url, .token.language-css .string, .token.style .string {
  color: #56b6c2 !important;
}
.token.atrule, .token.keyword {
  color: #c678dd !important;
}
.token.function, .token.macro.property {
  color: #61afef !important;
}
.token.class-name {
  color: #ecb958 !important;
}
.token.regex, .token.important, .token.variable {
  color: #c678dd !important;
}
.token.important, .token.bold {
  font-weight: bold !important;
}
.token.italic {
  font-style: italic !important;
}
.token.entity {
  cursor: help !important;
}

.view-header-title {
  font-weight: 600;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.workspace-leaf.mod-active .view-header {
  transition: border-bottom 0.3s;
  border-bottom: 2px solid var(--interactive-accent);
}
.workspace-leaf.mod-active .view-header .view-header-icon {
  color: var(--file-name-color);
}
.workspace-leaf .view-header-icon:hover {
  color: var(--interactive-accent);
}

.search-result-file-title {
  color: #69bafd;
}

.nav-file-title,
.nav-folder-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.nav-file-title-content,
.nav-folder-title-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.nav-file.is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #ffffff;
}

.nav-file:not(.is-active):hover .nav-file-title,
.nav-folder:hover .nav-folder-content {
  background-color: transparent;
}

.status-bar,
.side-dock.mod-right,
.side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  --bar-vertical-padding: 4px;
  --bar-height: calc(22px + (var(--bar-vertical-padding) * 2));
  line-height: 20px;
  padding: 0 20px;
  height: var(--bar-height);
  max-height: var(--bar-height);
  min-height: var(--bar-height);
  overflow: hidden;
}

.status-bar-item > * {
  padding-top: var(--bar-vertical-padding) !important;
  padding-bottom: var(--bar-vertical-padding) !important;
}

.workspace-ribbon.side-dock-ribbon {
  color: var(--background-primary) !important;
  background-color: var(--background-secondary-alt) !important;
}
.workspace-ribbon.side-dock-ribbon .side-dock-ribbon-action:hover,
.workspace-ribbon.side-dock-ribbon .workspace-ribbon-collapse-btn:hover {
  color: var(--text-accent);
}
.workspace-ribbon.side-dock-ribbon .workspace-ribbon-collapse-btn {
  margin-top: 36px;
  padding: 20px 0px 8px 0px;
  align-self: center;
}
.workspace-ribbon.side-dock-ribbon.mod-left {
  flex-direction: column;
  flex: 0 0 50px;
}
.workspace-ribbon.side-dock-ribbon.mod-left .side-dock-settings {
  margin: auto 0px 0px 0px;
}

.workspace-tabs .workspace-tab-header-container {
  height: 36px;
}
.workspace-tabs .workspace-tab-header-container .workspace-tab-header-inner:hover .workspace-tab-header-inner-icon {
  color: var(--text-accent);
}

.dataview.table-view-table {
  background-color: var(--background-primary-alt);
  border-radius: 5px;
}

mjx-container[jax=CHTML] {
  text-align: left;
  outline: none;
  font-size: 20px;
  color: #98c379;
}

.abcjs-decoration {
  stroke: var(--text-normal);
}

:root,
.theme-dark {
  --background-primary: #212121;
  /*background of note*/
  --background-primary-alt: #1d1d1d;
  /*Code block*/
  --background-secondary: #1b1b1b;
  /*file viewer*/
  --background-secondary-alt: #0d0d0d;
  /*sidebar*/
  --background-accent: #000;
  --background-modifier-border: #424958;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #539126;
  /* Delete promt buttons */
  --background-modifier-error: #9a52c4;
  --background-modifier-error-rgb: #3d0000;
  --background-modifier-error-hover: #e75153;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  /*"New note" and other icons hover, also hyperlinks*/
  --text-accent: #2f8def;
  --text-accent-hover: #69bafd;
  --text-normal: #dcddde;
  --text-muted: #888;
  /* File viewer text */
  --text-faint: #6b6b6b;
  --text-error: #e16d76;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  /*highlited open note in file viewer*/
  --interactive-accent: #2f8def;
  --interactive-accent-rgb: #4c78cc;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(231, 3, 3, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.01);
  --panel-border-color: #18191e;
  --text-title-h1: #2f8def;
  --text-title-h2: #9a52c4;
  --text-title-h3: #ecb958;
  --text-title-h4: #98c379;
  --text-title-h5: #98c379;
  --text-title-h6: #98c379;
}

/*# sourceMappingURL=material.css.map */
