@charset "UTF-8";
:root {
  --font-monospace: "Fira Code", "Source Code Pro", monospace;
}

body .markdown-source-view code,
body .markdown-source-view pre,
body .markdown-preview-view code,
body .markdown-preview-view pre {
  font-family: var(--font-monospace);
  background-color: var(--background-primary-alt);
  border-radius: 2.5px;
  font-size: 0.95em;
  text-align: left !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;
  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}
body .markdown-source-view :not(pre) > code,
body .markdown-preview-view :not(pre) > code {
  padding: 0.1em 0.2em;
  white-space: normal;
}
body .markdown-source-view :not(pre) > code:not([class]),
body .markdown-preview-view :not(pre) > code:not([class]) {
  color: #98c379 !important;
}

.markdown-source-view pre.HyperMD-codeblock,
.markdown-source-view span.cm-inline-code,
.markdown-source-view span.cm-math:not(.cm-formatting-math-begin):not(.cm-formatting-math-end),
.markdown-source-view .markdown-preview-view code {
  color: #98c379;
}
.markdown-source-view span .cm-inline-code,
.markdown-source-view span .cm-math,
.markdown-source-view span .hmd-fold-math-placeholder {
  font-style: normal;
  color: #98c379;
}

.cm-header-1,
.markdown-preview-view h1 {
  font-weight: 550 !important;
  font-size: 3.4vh !important;
  color: var(--text-title-h1) !important;
}

.cm-header-2,
.markdown-preview-view h2 {
  font-weight: 500 !important;
  font-size: 2.5vh !important;
  color: var(--text-title-h2) !important;
}

.cm-header-3,
.markdown-preview-view h3 {
  font-weight: 500 !important;
  font-size: 2vh !important;
  color: var(--text-title-h3) !important;
}

.cm-header-4,
.markdown-preview-view h4 {
  font-weight: 500 !important;
  font-size: 2vh !important;
  color: var(--text-title-h4) !important;
}

.cm-header-5,
.markdown-preview-view h5 {
  font-weight: 500 !important;
  font-size: 2vh !important;
  color: var(--text-title-h5) !important;
}

.cm-header-6,
.markdown-preview-view h6 {
  font-weight: 500 !important;
  font-size: 1.2vh !important;
  color: var(--text-title-h6) !important;
}

.markdown-preview-section:not(:first-child) h1,
.markdown-preview-section:not(:first-child) h2,
.markdown-preview-section:not(:first-child) h3,
.markdown-preview-section:not(:first-child) h4,
.markdown-preview-section:not(:first-child) h5,
.markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px !important;
}

a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.tag {
  background-color: var(--text-accent);
  border: none;
  color: white;
  font-size: 1.2vh;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  border-radius: 14px;
}

.tag:hover {
  border: none;
  background-color: var(--text-accent-hover) !important;
  padding: 1px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  color: #dcddde;
  border-radius: 14px;
}

.tag[href^="#obsidian"] {
  background-color: #4d3ca6;
}

.tag[href^="#issue"] {
  background-color: indianred;
}

.tag[href^="#🌱"] {
  background-color: yellowgreen;
}

.tag[href^="#🌿"] {
  background-color: seagreen;
}

.tag[href^="#🌲"] {
  background-color: green;
}

.tag[href^="#📍"] {
  background-color: #cf352e;
}

.tag[href^="#🧍"] {
  background-color: #109474;
}

.tag[href^="#🍽"] {
  background-color: orange;
}

.tag[href^="#item"] {
  background-color: #4caf50;
}

.tag[href^="#🛠"] {
  background-color: #63462d;
}

.tag[href^="#⚙️"] {
  background-color: #5c6370;
}

.tag[href^="#📑"] {
  background-color: #9a52c4;
}

.tag[href^="#🎯"] {
  background-color: #cf352e;
}

.tag[href^="#active"] {
  background-color: #6ba741;
}

.tag[href^="#inactive"] {
  background-color: indianred;
}

.tag[href^="#math"] {
  background-color: #cf352e;
}

.tag[href^="#solved"] {
  background-color: #68ad37;
}

.tag[href^="#todo"] {
  background-color: #e0a12b;
}

.tag[href^="#premium"] {
  background-color: #e0a12b;
}

.tag[href^="#unsolved"] {
  background-color: #e75153;
}

.tag[href^="#easy"] {
  background-color: #68ad37;
}

.tag[href^="#medium"] {
  background-color: #e0a12b;
}

.tag[href^="#hard"] {
  background-color: #e75153;
}

body .markdown-preview-view blockquote {
  margin: 20px 0px;
  border-radius: 4px;
  padding: 0.5em 1em;
  background-color: var(--background-primary-alt);
}
body .markdown-preview-view blockquote li {
  list-style-type: none;
}
body .markdown-preview-view blockquote p {
  margin-top: 0;
  margin-bottom: 0;
}

body .markdown-preview-view .task-list-item-checkbox {
  -webkit-appearance: none;
  box-sizing: border-box;
  border: 1px solid var(--text-muted);
  border-radius: 2px;
  position: relative;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  filter: none;
  outline: none;
  margin-right: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  vertical-align: baseline;
}
body .markdown-preview-view .task-list-item-checkbox:checked {
  border: none;
  background-color: var(--interactive-accent);
}
body .markdown-preview-view .task-list-item-checkbox:checked::before {
  content: " ";
  position: absolute;
  background-color: white;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpolygon points='5.5 11.9993304 14 3.49933039 12.5 2 5.5 8.99933039 1.5 4.9968652 0 6.49933039'%3E%3C/polygon%3E%3C/svg%3E");
}

body .markdown-preview-view .markdown-embed,
body .markdown-preview-view .file-embed {
  margin: 0;
  border-radius: 4px;
  background-color: var(--background-primary-alt);
}
body .markdown-preview-view .markdown-embed {
  border: none !important;
  padding: 0em 1em;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #5c6370 !important;
}
.token.punctuation {
  color: #abb2bf !important;
}
.token.selector, .token.tag {
  color: #e75153 !important;
}
.token.property, .token.boolean, .token.number, .token.constant, .token.symbol, .token.attr-name, .token.deleted {
  color: #f77f45 !important;
}
.token.string, .token.char, .token.attr-value, .token.builtin, .token.inserted {
  color: #98c379 !important;
}
.token.operator, .token.entity, .token.url, .token.language-css .string, .token.style .string {
  color: #56b6c2 !important;
}
.token.atrule, .token.keyword {
  color: #c678dd !important;
}
.token.function, .token.macro.property {
  color: #61afef !important;
}
.token.class-name {
  color: #ecb958 !important;
}
.token.regex, .token.important, .token.variable {
  color: #c678dd !important;
}
.token.important, .token.bold {
  font-weight: bold !important;
}
.token.italic {
  font-style: italic !important;
}
.token.entity {
  cursor: help !important;
}

body .markdown-source-view em,
body .markdown-source-view .cm-em:not(.cm-hmd-internal-link):not(.cm-formatting-link),
body .markdown-preview-view em,
body .markdown-preview-view .cm-em:not(.cm-hmd-internal-link):not(.cm-formatting-link) {
  color: #ffda97;
}

body .markdown-source-view strong,
body .markdown-source-view .cm-strong:not(.cm-hmd-internal-link):not(.cm-formatting-link),
body .markdown-preview-view strong,
body .markdown-preview-view .cm-strong:not(.cm-hmd-internal-link):not(.cm-formatting-link) {
  color: #ecb958;
}

body .markdown-preview-view .green {
  color: #68ad37 !important;
}
body .markdown-preview-view .yellow {
  color: #e0a12b !important;
}
body .markdown-preview-view .red {
  color: #e75153 !important;
}
body .markdown-preview-view .indianred {
  color: indianred !important;
}
body .markdown-preview-view code mjx-container {
  color: #000;
  font-size: 110%;
}
body .markdown-preview-view code.constant, body .markdown-preview-view code.linear, body .markdown-preview-view code.logarithmic, body .markdown-preview-view code.linearithmic, body .markdown-preview-view code.polynomial, body .markdown-preview-view code.exponential {
  color: #000;
}
body .markdown-preview-view code.constant {
  background-color: green;
}
body .markdown-preview-view code.linear {
  background-color: #fee227;
}
body .markdown-preview-view code.logarithmic {
  background-color: yellowgreen;
}
body .markdown-preview-view code.na {
  background-color: gray;
  color: #000;
}
body .markdown-preview-view code.linearithmic {
  background-color: orange;
}
body .markdown-preview-view code.polynomial {
  background-color: indianred;
}
body .markdown-preview-view code.exponential {
  background-color: #cf352e;
}

.view-header-title {
  font-weight: 600;
}

.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  line-height: 26px;
}

.workspace > .workspace-split > .workspace-leaf:first-of-type:last-of-type .view-header {
  border: none;
}

.workspace-leaf.mod-active .view-header {
  transition: border-bottom 0.3s;
  border-bottom: 2px solid var(--interactive-accent);
}
.workspace-leaf.mod-active .view-header .view-header-icon {
  color: var(--file-name-color);
}
.workspace-leaf .view-header-icon:hover {
  color: var(--interactive-accent);
}

.modal-content.community-plugin {
  padding-right: 0em;
}

.search-result-file-title {
  color: #69bafd;
}

.nav-file-title,
.nav-folder-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.nav-file-title-content,
.nav-folder-title-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.nav-file.is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #ffffff;
}

.nav-file:not(.is-active):hover .nav-file-title,
.nav-folder:hover .nav-folder-content {
  background-color: transparent;
}

.status-bar,
.side-dock.mod-right,
.side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  background-color: var(--background-secondary);
  min-height: 28px;
}
.status-bar .status-bar-item {
  padding: 0.2em 0em 0.2em 2em;
  height: 2em;
}
.status-bar .sync-status-icon {
  height: 24px;
  width: 24px;
  padding-right: 6px;
}

.workspace-ribbon.side-dock-ribbon {
  color: var(--background-primary) !important;
  background-color: var(--background-secondary-alt) !important;
  border-color: var(--background-secondary-alt) !important;
}
.workspace-ribbon.side-dock-ribbon .side-dock-ribbon-action:hover,
.workspace-ribbon.side-dock-ribbon .workspace-ribbon-collapse-btn:hover {
  color: var(--text-accent);
}
.workspace-ribbon.side-dock-ribbon .side-dock-ribbon-action svg {
  width: 24px;
  height: 24px;
}
.workspace-ribbon.side-dock-ribbon .workspace-ribbon-collapse-btn {
  margin-top: 36px;
  padding: 20px 0px 8px 0px;
  align-self: center;
}
.workspace-ribbon.side-dock-ribbon .workspace-ribbon-collapse-btn svg {
  width: 20px;
  height: 20px;
}
.workspace-ribbon.side-dock-ribbon.mod-left {
  flex-direction: column;
  flex: 0 0 50px;
}
.workspace-ribbon.side-dock-ribbon.mod-left .side-dock-settings {
  margin: auto 0px 0px 0px;
}

.workspace-tabs .workspace-tab-header-container {
  height: 36px;
}
.workspace-tabs .workspace-tab-header-container .workspace-tab-header-inner:hover .workspace-tab-header-inner-icon {
  color: var(--text-accent);
}

.workspace-leaf-resize-handle {
  height: calc(100% - 36px) !important;
}

::-webkit-scrollbar-thumb {
  background-color: #313131;
}
::-webkit-scrollbar-thumb:active {
  background-color: #4b4b4b;
}

.dataview.table-view-table {
  background-color: var(--background-primary-alt);
  border-radius: 5px;
}

mjx-container[jax=CHTML] {
  text-align: left;
  outline: none;
  font-size: 1.2em;
  color: #98c379;
}
mjx-container[jax=CHTML] .mjx-c3A,
mjx-container[jax=CHTML] .mjx-c27F9,
mjx-container[jax=CHTML] .mjx-c27FA,
mjx-container[jax=CHTML] .mjx-c3D {
  color: #dcddde;
}

.abcjs-decoration {
  stroke: var(--text-normal);
}

.kanban-plugin {
  background-color: var(--background-primary) !important;
}

.kanban-plugin__lane {
  background-color: #1d1d1d !important;
}

:root,
.theme-dark {
  --background-primary: #212121;
  /*background of note*/
  --background-primary-alt: #1d1d1d;
  /*Code block*/
  --background-secondary: #1b1b1b;
  /*file viewer*/
  --background-secondary-alt: #0d0d0d;
  /*sidebar*/
  --background-accent: #000;
  --background-modifier-border: #424242;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.3);
  --background-modifier-success: #68ad37;
  /* Delete promt buttons */
  --background-modifier-error: #9a52c4;
  --background-modifier-error-rgb: #3d0000;
  --background-modifier-error-hover: #e75153;
  --background-modifier-cover: rgba(0, 0, 0, 0.6);
  /*"New note" and other icons hover, also hyperlinks*/
  --text-accent: #2f8def;
  --text-accent-hover: #69bafd;
  --text-normal: #dcddde;
  --text-muted: #888;
  /* File viewer text */
  --text-faint: #6b6b6b;
  /* Sidebar Icons */
  --text-error: indianred;
  --text-error-hover: #c9626a;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #dcddde;
  --interactive-normal: #20242b;
  --interactive-hover: #353b47;
  /*highlited open note in file viewer*/
  --interactive-accent: #2f8def;
  --interactive-accent-rgb: #4c78cc;
  --interactive-accent-hover: #5082df;
  --scrollbar-active-thumb-bg: rgba(231, 3, 3, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.01);
  --panel-border-color: #18191e;
  --text-title-h1: #2f8def;
  --text-title-h2: #9a52c4;
  --text-title-h3: #ecb958;
  --text-title-h4: #98c379;
  --text-title-h5: #98c379;
  --text-title-h6: #98c379;
}

/*# sourceMappingURL=material.css.map */
