.nav-file-title,
.nav-folder-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.nav-file-title-content,
.nav-folder-title-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.nav-file.is-active {
  --background-secondary-alt: var(--interactive-accent);
  --text-normal: #ffffff;
}

.nav-file:not(.is-active):hover .nav-file-title,
.nav-folder:hover .nav-folder-content {
  background-color: transparent;
}
