// Element: Side dock ribbons (left and right)
.workspace-ribbon.side-dock-ribbon {
    // Purpose: Color
    color: var(--background-primary) !important;
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary-alt) !important;

    // Sidebar Buttons
    .side-dock-ribbon-action:hover,
    .workspace-ribbon-collapse-btn:hover {
        color: var(--text-accent);
    }
    // Sidebar Action Buttons
    .side-dock-ribbon-action svg {
        width: 24px;
        height: 24px;
    }
    // Collapse Button
    .workspace-ribbon-collapse-btn {
        // Alignment
        margin-top: 36px;
        padding: 20px 0px 8px 0px;
        align-self: center;
        svg {
            // Size
            width: 20px;
            height: 20px;
        }
    }

    // Left sidedock ribbon
    &.mod-left {
        // Ordering elements and width
        flex-direction: column;
        flex: 0 0 50px;

        // Pushing the last three buttons to the bottom
        .side-dock-settings {
            margin: auto 0px 0px 0px;
        }
    }
}

.workspace-tabs {
    // Sidebar Header Space
    .workspace-tab-header-container {
        // Space
        height: 36px;
        // Buttons (File Explorer, Recent Files, Search...)
        .workspace-tab-header-inner:hover {
            .workspace-tab-header-inner-icon {
                // Color
                color: var(--text-accent);
            }
        }
    }
}

.workspace-leaf {
    &.mod-active {
        border-color: transparent !important;
    }
}

// Sidebar resize handle
.workspace-leaf-resize-handle {
    // Removes ugly notch
    height: calc(100% - 36px) !important;
}
