.status-bar,
.side-dock.mod-right,
.side-dock.mod-left {
  border-color: var(--panel-border-color);
  border-width: 1px;
}

.status-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  overflow: hidden;
  background-color: var(--background-secondary);
  min-height: 28px;
  .status-bar-item {
    padding: 0.2em 0em 0.2em 2em;
    height: 2em;
  }

  .sync-status-icon {
    height: 24px;
    width: 24px;
    padding-right: 6px;
  }
}
