//  Content width
.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

// Is likely overridden by Sliding Panels
.workspace
  > .workspace-split
  > .workspace-leaf:first-of-type:last-of-type
  .view-header {
  border: none;
}

.workspace-leaf {
  &.mod-active .view-header-icon {
    color: var(--file-name-color);
  }
  .view-header-icon:hover {
    color: var(--text-accent);
  }
}
