//  Content width
.markdown-preview-view.is-readable-line-width .markdown-preview-section,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 900px !important;
  line-height: 26px;
}

// Is likely overridden by Sliding Panels
.workspace
  > .workspace-split
  > .workspace-leaf:first-of-type:last-of-type
  .view-header {
  border: none;
}

// Element: Note
.workspace-leaf {
  // Element: Active
  &.mod-active {
    // Element: Header
    .view-header {
      // Purpose: Bottom border color transition
      transition: border-bottom 0.3s;
      border-bottom: 2px solid var(--interactive-accent);
      // Element: Icon
      .view-header-icon {
        // Purpose: COlor
        color: var(--file-name-color);
      }
    }
  }
  .view-header-icon:hover {
    color: var(--interactive-accent);
  }
}

// Community plugin tab
.modal-content.community-plugin {
  // Scroll-bar was overlapping with X
  padding-right: 0em;
}

// Sidebar resize handle
.workspace-leaf-resize-handle {
  // Removes ugly notch
  height: calc(100% - 36px) !important;
}
