@use '../abstracts' as *;

.markdown-preview-section:not(:first-child) h1,
.markdown-preview-section:not(:first-child) h2,
.markdown-preview-section:not(:first-child) h3,
.markdown-preview-section:not(:first-child) h4,
.markdown-preview-section:not(:first-child) h5,
.markdown-preview-section:not(:first-child) h6 {
  margin-top: 40px !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b,
.view-header-title {
  font-weight: 600;
}

// Hyperlinks
a,
.markdown-preview-view .internal-link {
  text-decoration: none;
}

a:hover,
.markdown-preview-view .internal-link:hover {
  text-decoration: underline;
}

// List Element
li {
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}
